<% show_user = (show_user == false) ? false : true %>
<% show_wine = (show_wine == false) ? false : true %>

<ul class="table-view">
	<% tastings.each do |tasting| %>

  <li class="table-view-cell">
    <a class="navigate-right">
      <span class="badge"><%= tasting.rating_final ? tasting.rating_final : "" %></span>
			<% if show_wine && %>
				<%= link_to tasting.wine.name, tasting.wine %>
			<% end %>
			<% if show_user %>
				<%= link_to tasting.user.name, tasting.user %>
			<% end %>
    </a>
  </li>

	<% end %>
</ul>
