<h2>Rating v Time</h2>

<div id="rating_v_time_chart"  style="width:100%; height:400px;">
</div>

<script>
$(function () {
        $('#rating_v_time_chart').highcharts({
            chart: {
                type: 'scatter'
            },
            title: {
                text: 'Rating vs Time'
            },
            subtitle: {
                text: 'all wines'
            },
            xAxis: {
                title: {
                    enabled: true,
                    text: 'Date Drank'
                },
                startOnTick: true,
                endOnTick: true,
                showLastLabel: true
            },
            yAxis: {
                title: {
                    text: 'Rating'
                }
            },
            legend: {
                align: 'right',
								layout: 'vertical',
                verticalAlign: 'top',
								itemStyle: {
									paddingBottom: '10px'
								},
		            navigation: {
		            	activeColor: '#3E576F',
									animation: true,
									arrowSize: 12,
									inactiveColor: '#CCC',
									style: {
										fontWeight: 'bold',
										color: '#333',
										fontSize: '12px'	
									}
								}
            },
            plotOptions: {
                scatter: {
                    marker: {
                        radius: 10,
                        states: {
                            hover: {
                                enabled: true,
                                lineColor: 'rgb(100,100,100)'
                            }
                        }
                    },
                    states: {
                        hover: {
                            marker: {
                                enabled: false
                            }
                        }
                    },
                    tooltip: {
                      headerFormat: '<b>{series.name}</b><br>',
                      pointFormat: '${point.x}, {point.y} rating'
                    }
                }
            },
            series: [
						<% @chart_data.each do |d| %>
						{
                name: "<%=d[:name]%>",
                data: <%= d[:scatter] %>    
            },
						<% end %>
						]
        });
    });
</script>
