<ul class="table-view">
	<% wines.each do |wine| %>
	
  <li class="table-view-cell">
    <a class="navigate-right">
      <span class="badge"><%= wine.avg_rating ? wine.avg_rating : "" %></span>
      <%= link_to wine.name, wine %>
    </a>
  </li>

	<% end %>
</ul>
