<div class="bar-standard bar-header-secondary">
	<h3>
		Wine list &nbsp; &nbsp; &nbsp;
		<button class="btn btn-positive"> <%= link_to 'Add a wine', new_wine_path %> </button> 
	</h3>
</div>

<div class="content">
		<% if @wines.nil? || @wines.length == 0 %>
			No wines exist yet. <%= link_to 'Click here', new_wine_path %> to add one.<br /><br />
		<% else %>
			<%= render :partial => 'wines/table', :locals => {:wines => @wines} %>
		<% end %>
</div>