/* === Header === */

div#top-banner {
	position: absolute;
	top: 0;
	left: 0;
	background-color: gray;
	width: 100%;
}
div#top-banner-content {
	width: 300px;
	margin: 0 auto;
	padding: 10px;
	float: left;
}
div#logo {
	font-size:25px;
	font-color:gray;
	font-weight:bold;
	text-align:center;
	width:9em;
}

div#sitenav a {
	color: black;
}

/* === General === */

body {
	background-color: #FFFFCC;
}

div#body-wrapper {
	margin-top:80px;
	margin-left:10px;
}

div.main_table {
	padding: 20px;
}

a{
	color:blue; 
	text-decoration:none;
}
a:hover{
	color:blue; 
	text-decoration:underline;
	cursor:pointer;	
}

h2 {
	color:purple;
	text-indent:15px;
	font-size:22px;
	margin-top:10px;
	margin-bottom:10px;
}
h3 {
	color:purple;
	text-indent:15px;
	font-size:18px;
	margin-top:10px;
	margin-bottom:10px;
}

/* === Forms === */

form.new_user, form.new_wine, form.edit_user, form.edit_wine{
	padding: 10px;	
}

div.field{
	margin-bottom:10px;
}

label{
	font-weight:bold;
}


/* === Tables === */

table {
	border: 1px solid #663300;
	border-collapse:collapse;
}

td,th {
	border-right: 1px solid #663300;
	border-left: 1px solid #663300;
	border-top: 1px solid #663300;
	border-bottom: 1px solid #663300;	
	padding: 5px;
}

table.noborder {
	border: none;
}

table.noborder td {
	border-right: none; border-left: none; border-top: none; border-bottom: none;		
}
table.noborder th {
	border-right: none; border-left: none; border-top: none; border-bottom: none;		
}
td.noborder {
	border-right: none; border-left: none;		
}
th.noborder {
	border-right: none; border-left: none;	
}

table tr.separator { 
	height: 10px; 
}
table td.separator {
	width: 10px;
}

td.eval_trait {
	font-style:bold;
}

td.eval_field {
	font-family:arial;
	font-size:80%;
	text-align:center;
	background-color:yellow;
	padding: 5px;
}
td.eval_field a{
	color:black;
}

td.color_field {
	font-family:arial;
	font-size:80%;
	text-align:center;
	background-color:yellow;
	padding: 5px;
}
td.color_field a{
	color:black;
}

/* === Column widths === */

.width10 { width: 10%; }
.width20 { width: 20%; }
.width30 { width: 30%; }
.width40 { width: 40%; }
.width50 { width: 50%; }
.width60 { width: 60%; }
.width70 { width: 70%; }
.width80 { width: 80%; }
.width90 { width: 90%; }
.width100 { width: 100%; }
