<h2>Wine list</h2>

<div class="main_table">
	<% if @wines.nil? || @wines.length == 0 %>
		No wines exist yet. <%= link_to 'Click here', new_wine_path %> to add one.<br /><br />
	<% else %>
		<%= render :partial => 'wines/table', :locals => {:wines => @wines} %>
	<% end %>
</div>

<%= link_to 'Add a wine', new_wine_path %>